<div class="login-page">
  <h2 class="login-h2">Login</h2>

  <div class="login-box">

    <div class="login-icons">
      <div class="username-icon">
        <ion-icon name="person"></ion-icon>

      </div>
      <ion-icon name="lock-closed"></ion-icon>

    </div>
    <form action="/auth/login" method="POST" id="form-container">

      <input id="username" class="login-inputs" type="text" name="username" placeholder="Username">

      <input id="password" type="password" class="login-inputs" name="password" placeholder="Password">
      <br>

      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

      <button class="login-btn">Login</button>

      <p class="account-message">
        Don't have an account yet?
        <a href="/auth/signup">Signup</a>
      </p>
    </form>

  </div>
</div>