<div class="signup-page">
  <h2 class="signup-h2">Signup</h2>

  <div class="signup-box">
    <div class="login-icons">
      <div class="username-icon">
        <ion-icon name="person"></ion-icon>

      </div>
      <ion-icon name="lock-closed"></ion-icon>

    </div>
    <form action="/auth/signup" method="POST" id="form-container">
      <input id="username" class="signup-inputs" type="text" name="username" placeholder="Username">

      <input id="password" class="signup-inputs" type="password" name="password" placeholder="Password">
      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <button class="signup-btn">Create account</button>

      <p class="account-message">
        Do you already have an account?
        <a href="/auth/login">Login</a>
      </p>


    </form>

  </div>
</div>