<div class="all-jobs-main-div">
  {{#each allJobs}}
  <div class="job-div">
    <p>{{{title}}}</p>
    <p>Company: {{{company.display_name}}},&nbsp; &nbsp; &nbsp;
      Location: {{{location.display_name}}} </p>
    <p>{{{description}}}</p>
  </div>
  {{/each}}
</div>