<form action="/jobs" method="POST">
    <label for="title">Title</label>
    <input name="title" type="text" id="title">
    <br>

    <label for="company">Company</label>
    <input name="company" type="text" id="company">
    <br>

    <label for="description">Description</label>
    <input type="text" name="description" id="description">
    <br>

    <label for="contractType">Contract Type</label>
    <input type="text" name="contractType" id="contractType">
    <br>

    <label for="redirectURL">RedirectURL</label>
    <input type="text" name="redirectURL" id="redirectURL">
    <br>

    <button type="submit">Add</button>
</form>