<form action="/jobs" method="POST">
    <label for="title">Title</label>
    <input name="title" type="text" id="title">
    <br>

    <label for="company">Company</label>
    <input name="company" type="text" id="company">
    <br>

    <label for="description">Description</label>
    <input type="text" name="description" id="description">
    <br>

    <label for="contractType">Contract Type</label>
    <input type="text" name="contractType" id="contractType">
    <br>

    <label for="redirectURL">RedirectURL</label>
    <input type="text" name="redirectURL" id="redirectURL">
    <br>

    <label for="location">Location</label>
    <select name="" id="location">
        <option value="gb">Great Britain</option>
        <option value="at">Austria</option>
        <option value="au">Australia</option>
        <option value="br">Brasil</option>
        <option value="ca">Canada</option>
        <option value="de">Germany</option>
        <option value="fr">France</option>
        <option value="in">India</option>
        <option value="it">Italy</option>
        <option value="nl">Netherlands</option>
        <option value="nz">New Zealand</option>
        <option value="pl">Poland</option>
        <option value="ru">Russia</option>
        <option value="sg">Singapore</option>
        <option value="us">United States</option>
        <option value="za">South Africa</option>
    </select>
    <br>

    <button type="submit">Add</button>
</form>