<div class="form">
  <form action="/jobs/search" method="GET">
    <input class="input-fields" name="jobTitle" placeholder="Job Title" type="text" />
    <input class="input-fields" name="location" placeholder="Location" type="text" />
    <button class="btn" type="submit">
      <div class="search-icon">
        <ion-icon class="search-icon" name="search"></ion-icon>
      </div>
    </button>
  </form>
</div>
<hr class="main-hr">
<p class="paragraph"><span>Are you a Recruiter?<a href="/jobs/create">Post a job. </a></span></p>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>