body {
  padding: 0;
  margin: 0;
  /* background-color: rgba(231, 76, 60, 1); */
  background-image: url("https://images.unsplash.com/photo-1485841890310-6a055c88698a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 79vh;
  font-family: Arial, Helvetica, sans-serif; }

.form {
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  align-content: center; }

.input-fields {
  background-color: #ecf0f1;
  height: 45px;
  width: 250px;
  border-radius: 10px; }

.btn {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  background-color: #3498db; }

.btn:hover {
  background-color: #3498db;
  color: white; }

.paragraph {
  display: flex;
  justify-content: center;
  padding-right: 80px;
  padding-top: 20px; }

.nav-bar {
  width: 100%;
  height: 45px;
  background-color: #bdc3c7;
  display: flex;
  justify-content: flex-end; }

.list,
.list-all-jobs {
  display: flex;
  justify-content: flex-end;
  float: right; }

.item,
.item-all-jobs {
  list-style-type: none;
  display: flex;
  justify-content: flex-end; }

.item > a,
.item-all-jobs > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 5px 5px;
  color: black;
  border-radius: 5px;
  background-color: #3498db; }

.item > a:hover,
.item-all-jobs > a:hover {
  /* background-color: white; */
  color: white;
  border: 2px solid #3498db;
  border-bottom: 1px solid black;
  border-radius: 5px; }

.main-hr {
  border: 1.3px solid #3498db;
  width: 50%;
  margin-top: 20px; }

.login-box {
  display: flex;
  justify-content: center;
  padding-top: 14%; }

.login-inputs {
  height: 4vh;
  width: 36vh; }

.login-btn {
  width: 35%;
  height: 15%;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center; }

.all-jobs-main-div {
  width: 70vw;
  min-width: 200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column; }

.job-div {
  padding: 0 0.8vw;
  height: auto;
  border: 1.6px solid #bdc3c7;
  font-size: 80%; }

.job-div > p {
  font-size: 15px; }

.job-div:hover {
  border: 1.6px solid #3498db;
  transition: 0.5s; }

.job-div p {
  padding: 0px 0px; }

.star-btn {
  float: right;
  background-color: transparent;
  border: none;
  padding-top: 1.5vh;
  padding-right: 1vw; }

.star {
  width: 26.5px;
  height: 26.5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  cursor: pointer; }

.star:hover {
  color: #f1aa0f; }

.nav-bar-all-jobs {
  display: flex;
  width: 100%;
  height: 8vh;
  background-color: #bdc3c7;
  display: flex;
  justify-content: center;
  padding-bottom: 14px; }

.form-all-jobs {
  display: flex;
  padding-top: 4vh;
  align-content: flex-end; }

.input-fields-all-jobs {
  background-color: #ecf0f1;
  height: 1.6vw;
  width: 28vh;
  border-radius: 10px; }

.btn-all-jobs {
  height: 35px;
  width: 60px;
  border-radius: 5px;
  background-color: #3498db; }

.btn-all-jobs:hover {
  background-color: #3498db;
  color: white; }

.job-title {
  color: #3498db; }

.company-name {
  font-size: 40px; }

/*# sourceMappingURL=style.css.map */