body {
  padding: 0;
  margin: 0;
  /* background-color: rgba(231, 76, 60, 1); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif; }

.login-page {
  background-image: url(/images/login1.jpg);
  background-size: cover;
  height: 92vh;
  z-index: 1; }

.login-icons {
  display: flex;
  flex-direction: column;
  padding-top: 4.4vh;
  font-size: 20px; }

.username-icon {
  padding-bottom: 6px; }

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding-left: 25px; }

.logo > a {
  text-decoration: none;
  color: inherit;
  font-family: Tahoma, Geneva, Verdana, sans-serif; }

.form {
  padding-top: 15vh;
  display: flex;
  justify-content: center;
  align-content: center; }

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px; }

.input-fields {
  background-color: #ecf0f1;
  height: 45px;
  width: 250px;
  border-radius: 10px; }

.btn {
  padding-bottom: 10px;
  height: 50px;
  width: 80px;
  border-radius: 5px;
  background-color: #3498db; }

.btn:hover {
  background-color: #3498db;
  color: white; }

.paragraph {
  display: flex;
  justify-content: center;
  padding-right: 80px;
  padding-top: 20px; }

.nav-bar {
  width: 100%;
  height: 8vh;
  background-color: #3498db;
  display: flex;
  justify-content: space-between; }

.list,
.list-all-jobs {
  display: flex;
  justify-content: flex-end;
  float: right; }

.item,
.item-all-jobs {
  list-style-type: none;
  display: flex;
  justify-content: flex-end; }

.item > a,
.item-all-jobs > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  color: white; }

.item > a:hover,
.item-all-jobs > a:hover {
  /* background-color: white; */
  color: black;
  border-bottom: 1px solid black; }

.main-hr {
  border-top: 1.3px solid #3498db;
  width: 50%;
  margin-top: 20px;
  box-shadow: 0 3px 20px 2.5px #3498db; }

.nav-items {
  display: flex; }

.login-box,
.signup-box {
  display: flex;
  justify-content: center;
  width: 24%;
  margin-left: 39%;
  box-shadow: 0 3px 20px 2.5px grey;
  z-index: 3; }

.signup-page {
  background-image: url(/images/login1.jpg);
  background-size: cover;
  height: 92vh; }

.login-h2,
.signup-h2 {
  color: #3498db;
  font-size: 35px;
  padding-top: 18vh;
  padding-left: 4vh;
  padding-bottom: 50px;
  z-index: 2;
  margin: 0; }

.login-inputs,
.signup-inputs {
  height: 35px;
  width: 280px; }

.login-btn,
.signup-btn {
  display: flex;
  justify-content: center;
  width: 42%;
  margin-left: 6vw;
  height: 18%;
  border-radius: 8px; }

.login-btn:hover,
.signup-btn:hover {
  background-color: #3498db;
  color: white;
  transition: 0.3s; }

.login-btn,
.signup-btn {
  outline: 0; }

.signup-h2,
.login-h2 {
  display: flex;
  justify-content: center;
  align-content: center; }

#form-container {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 25px 0px; }

.icon {
  margin-left: 120px; }

.all-jobs-main-div {
  width: 70vw;
  min-width: 200px;
  padding: 5vh 15vw;
  display: flex;
  flex-direction: column; }

.job-div {
  padding: 0 0.8vw;
  height: auto;
  border-top: 1.6px solid #bdc3c7;
  border-right: 1.6px solid #bdc3c7;
  border-left: 1.6px solid #bdc3c7;
  font-size: 80%; }

.job-div:last-child {
  border-bottom: 1.6px solid #bdc3c7; }

.job-div > p {
  font-size: 15px; }

.job-div:hover {
  transition: 0.2s;
  box-shadow: 0 3px 20px 2.5px #3498db; }

.job-div p {
  padding: 0px 0px; }

.star-btn {
  float: right;
  background-color: transparent;
  border: none;
  padding-top: 1.5vh;
  padding-right: 1vw; }

.star {
  width: 26.5px;
  height: 26.5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  cursor: pointer; }

.star.active {
  color: #f1aa0f; }

.star:hover {
  color: #f1aa0f; }

.nav-bar-all-jobs {
  display: flex;
  width: 100%;
  height: 8vh;
  background-color: #3498db;
  justify-content: space-between; }

.form-all-jobs {
  display: flex;
  padding-top: 4vh;
  align-content: flex-end;
  justify-content: center; }

.input-fields-all-jobs {
  background-color: #ecf0f1;
  height: 2.6vw;
  width: 28vh;
  border-radius: 10px; }

.btn-all-jobs {
  padding-bottom: 10px;
  justify-content: center;
  height: 40px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db; }

.btn-all-jobs:hover {
  background-color: #3498db;
  color: white; }

.btn-all-jobs:focus {
  outline: none; }

.job-title {
  color: #3498db; }

.company-name {
  font-size: 40px; }

.main-div {
  display: flex;
  flex-direction: column;
  height: 50vh; }

.title {
  display: flex;
  justify-content: center;
  font-size: 25px; }

.info {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 180px; }

.created {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 20px; }

.description {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0 200px;
  margin-bottom: 20px;
  word-spacing: 0.8px;
  letter-spacing: 0.5px;
  box-shadow: 0 0.4px 8px 0.1px grey; }

.buttons {
  display: flex;
  padding-top: 20px;
  justify-content: space-evenly;
  padding: 20px 400px;
  box-shadow: 0 0.4px 8px 0.1px grey; }

.learn-more-btn,
.apply-btn,
.favorite-btn {
  outline: 0; }

.learn-more-btn,
.apply-btn,
.favorite-btn {
  color: white;
  height: 40px;
  width: 120px;
  font-size: 17px;
  border-radius: 5px;
  background-color: #3498db; }

.learn-more-btn:hover,
.apply-btn:hover {
  box-shadow: 0 3px 13px 1.25px #3498db;
  color: white;
  transition: 0.2s;
  cursor: pointer; }

.favorite-btn:hover {
  background-color: #f1aa0f;
  box-shadow: 0 1px 10px 0.5px #f1aa0f;
  cursor: pointer; }

.btn-active {
  background-color: #f1aa0f;
  box-shadow: 0 1px 10px 0.5px #f1aa0f; }

.main-info {
  box-shadow: 0 0.4px 8px 0.1px grey; }

.main-info,
.description,
.buttons {
  margin: 14px 40px; }

.create-job-page {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10vh; }

.post-job-form {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4px 8px 0.1px grey;
  height: 70vh;
  width: 30vw; }

.post-job-form input {
  padding-bottom: 20px; }

.form-info {
  display: flex;
  flex-direction: column;
  width: 20vw;
  text-align: center; }

.form-info input {
  text-align: center; }

.post-job-btn {
  margin-top: 20px; }

.favorited-jobs {
  width: 30vw;
  min-width: 200px;
  padding: 5vh 1vw;
  display: flex;
  flex-direction: column; }

.favorited {
  display: flex;
  border: 1px solid red; }

.map {
  display: flex;
  margin-top: 40px;
  height: 75vh;
  width: 66.5vw;
  border: 1px solid blue; }

/*# sourceMappingURL=style.css.map */