body {
  padding: 0;
  margin: 0;
  /* background-color: rgba(231, 76, 60, 1); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 79vh;
  font-family: Arial, Helvetica, sans-serif; }

.login-page {
  background-image: url(/images/login1.jpg);
  background-size: cover;
  height: 100vh; }

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  text-decoration: none;
  border: 1px solid red;
  font-size: 20px;
  color: white; }

.form {
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  align-content: center; }

.search-icon {
  font-size: 20px; }

.input-fields {
  background-color: #ecf0f1;
  height: 45px;
  width: 250px;
  border-radius: 10px; }

.btn {
  padding-bottom: 10px;
  height: 50px;
  width: 80px;
  border-radius: 5px;
  background-color: #3498db; }

.btn:hover {
  background-color: #3498db;
  color: white; }

.paragraph {
  display: flex;
  justify-content: center;
  padding-right: 80px;
  padding-top: 20px; }

.nav-bar {
  width: 100%;
  height: 8vh;
  background-color: #3498db;
  display: flex;
  justify-content: flex-end; }

.list,
.list-all-jobs {
  display: flex;
  justify-content: flex-end;
  float: right; }

.item,
.item-all-jobs {
  list-style-type: none;
  display: flex;
  justify-content: flex-end; }

.item > a,
.item-all-jobs > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 5px 5px;
  color: black;
  border-bottom: 2px solid black; }

.item > a:hover,
.item-all-jobs > a:hover {
  /* background-color: white; */
  color: white;
  border: 2px solid #3498db;
  border-bottom: 1px solid black;
  border-radius: 5px; }

.main-hr {
  border-top: 1.3px solid #3498db;
  width: 50%;
  margin-top: 20px;
  box-shadow: 0 3px 20px 2.5px #3498db; }

.login-box,
.signup-box {
  display: flex;
  justify-content: center;
  width: 24%;
  margin-left: 39%;
  margin-top: 12vh; }

.login-h2,
.signup-h2 {
  color: #3498db;
  font-size: 35px;
  padding-top: 18vh; }

.login-inputs,
.signup-inputs {
  height: 35px;
  width: 280px; }

.login-btn,
.signup-btn {
  display: flex;
  justify-content: center;
  width: 42%;
  margin-left: 6vw;
  height: 18%;
  border-radius: 8px; }

.login-btn:hover,
.signup-btn:hover {
  background-color: #3498db;
  color: white;
  transition: 0.3s; }

.signup-h2,
.login-h2 {
  display: flex;
  justify-content: center;
  align-content: center; }

#form-container {
  display: flex;
  flex-direction: column; }

.icon {
  margin-left: 120px; }

.all-jobs-main-div {
  width: 70vw;
  min-width: 200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column; }

.job-div {
  padding: 0 0.8vw;
  height: auto;
  border-top: 1.6px solid #bdc3c7;
  border-right: 1.6px solid #bdc3c7;
  border-left: 1.6px solid #bdc3c7;
  font-size: 80%; }

.job-div > p {
  font-size: 15px; }

.job-div:hover {
  transition: 0.2s;
  box-shadow: 0 3px 20px 2.5px #3498db; }

.job-div p {
  padding: 0px 0px; }

.star-btn {
  float: right;
  background-color: transparent;
  border: none;
  padding-top: 1.5vh;
  padding-right: 1vw; }

.star {
  width: 26.5px;
  height: 26.5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  cursor: pointer; }

.star.active {
  color: #f1aa0f; }

.star:hover {
  color: #f1aa0f; }

.nav-bar-all-jobs {
  display: flex;
  width: 100%;
  height: 8vh;
  background-color: #3498db;
  display: flex;
  justify-content: center;
  padding-bottom: 14px; }

.form-all-jobs {
  display: flex;
  padding-top: 4vh;
  align-content: flex-end; }

.input-fields-all-jobs {
  background-color: #ecf0f1;
  height: 1.6vw;
  width: 28vh;
  border-radius: 10px; }

.btn-all-jobs {
  height: 35px;
  width: 60px;
  border-radius: 5px;
  background-color: #3498db; }

.btn-all-jobs:hover {
  background-color: #3498db;
  color: white; }

.job-title {
  color: #3498db; }

.company-name {
  font-size: 40px; }

.main-div {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  height: 50vh; }

.title {
  display: flex;
  justify-content: center;
  font-size: 25px; }

.info {
  display: flex;
  justify-content: space-evenly; }

.created {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border: 1px solid blue;
  padding-right: 20px; }

.description {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0 200px;
  border: 1px solid yellow;
  word-spacing: 0.8px;
  letter-spacing: 0.5px; }

.buttons {
  display: flex;
  padding-top: 20px;
  justify-content: space-evenly;
  border: 1px solid lightblue; }

/*# sourceMappingURL=style.css.map */