// a {
//   color: #00B7FF;
// }

body {
  padding: 0;
  margin: 0;
  /* background-color: rgba(231, 76, 60, 1); */
  background-image: url("https://images.unsplash.com/photo-1485841890310-6a055c88698a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 79vh;
}

.form {
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.input-fields {
  background-color: rgba(236, 240, 241, 1);
  height: 45px;
  width: 250px;
  border-radius: 10px;
}

.btn {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  background-color: rgba(52, 152, 219, 1);
}

.btn:hover {
  background-color: rgba(52, 152, 219, 1);
  color: white;
}

.paragraph {
  display: flex;
  justify-content: center;
  padding-right: 80px;
  padding-top: 20px;
}

.nav-bar {
  width: 100%;
  height: 45px;
  background-color: rgba(189, 195, 199, 1);
  display: flex;
  justify-content: flex-end;
}

.item {
  list-style-type: none;
  display: flex;
}
.item > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 5px 5px;
  color: black;
  border-radius: 5px;
  background-color: rgba(52, 152, 219, 1);
}
.item > a:hover {
  /* background-color: white; */
  color: white;
  border: 2px solid rgba(52, 152, 219, 1);
  border-bottom: 1px solid black;
  border-radius: 5px;
}

.main-hr {
  border: 1.3px solid rgba(52, 152, 219, 1);
  width: 50%;
  margin-top: 20px;
}

//----------LOGIN HBS PAGE---------/
.login-box {
  display: flex;
  justify-content: center;
  // aligns-items: center;
  // align-content: center;
  padding-top: 14%;
}

.login-inputs {
  height: 4vh;
  width: 36vh;
}

.login-btn {
  width: 35%;
  height: 15%;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
}
//----------All Jobs Hbs Page---------/
.all-jobs-main-div {
  width: 42vw;
  min-width: 200px;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
}

.job-div {
  // display: flex;
  // flex-direction: column;
  // height: 15vh;
  height: auto;
  border: 1.6px solid rgba(189, 195, 199, 1);
  font-size: 80%;
}
.job-div > p {
  font-size: 14px;
}
.job-div:hover {
  border: 1.6px solid rgba(52, 152, 219, 1);
  transition: 0.5s;
}

.job-div p {
  overflow-wrap: break-word;
}

.star {
  width: 26.5px;
  height: 26.5px;
}
.star:hover {
  color: rgba(241, 170, 15, 1);
  // background-color: yellow;
}
